@using sReportsV2.DTOs.Form.DataOut.Tree

@model TreeDataOut

@if (Model.Forms.Count == 0)
{
    @await Html.PartialAsync("NoResultFound")
}
else
{
    <div class="tree-element-style" id="thesaurusTreeItems">
        @await Html.PartialAsync("Thesaurus/FormThesaurusAppearanceTreePartial")
    </div>
}