.show-hidden-fields {
  opacity: 0.4;
  pointer-events: none;
}
.show-hidden-fields .always-click-action {
  pointer-events: auto;
}

.file-name-text {
  padding-right: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-repetitive-btn-container {
  font-size: 12px;
  margin-left: 7px;
}

.remove-repetitive-btn-container {
  margin-left: 7px;
}

.lock-fs-action {
  margin-left: 5px;
}

.navigation-arrow {
  cursor: pointer;
  transition: all 0.2s ease;
}
.navigation-arrow.arrow-disabled {
  cursor: not-allowed;
}

#leftArrow::before {
  content: url("../img/icons/left_arrow.svg");
}
#leftArrow:hover::before {
  content: url("../img/icons/left_arrow_hover.svg");
}
#leftArrow.arrow-disabled::before {
  content: url("../img/icons/left_arrow_disabled.svg");
}

#rightArrow::before {
  content: url("../img/icons/right_arrow.svg");
}
#rightArrow:hover::before {
  content: url("../img/icons/right_arrow_hover.svg");
}
#rightArrow.arrow-disabled::before {
  content: url("../img/icons/right_arrow_disabled.svg");
}
