@using sReportsV2.Common.Extensions;
@using sReportsV2.DTOs.CodeEntry.DataOut;
@using sReportsV2.Common.Enums;

<div class="advanced-filter-item input-margin @(ViewBag.UserAdministration ? "" : "d-none")">
    <div class="label filter-label">
        @sReportsV2.Cache.Resources.TextLanguage.Roles
        @await Html.PartialAsync("RequiredLabel")
    </div>
    <select required id="roles" class="sreports-select2-multiple" name="roles" multiple="multiple" data-codesetid="@((int)CodeSetList.Role)" @ViewBag.Disabled>
    </select>
</div>
