@using Microsoft.AspNetCore.Html
@using sReportsV2.Common.Helpers
@using sReportsV2.DTOs.Field.DataOut
@model FieldParagraphDataOut

<div class="designer-form-section">
    <div class="designer-form-input-group two-margins" style="width:100%">
        <div class="label filter-label">
            @sReportsV2.Cache.Resources.TextLanguage.Paragraph
        </div>
        <textarea required class="designer-form-input" id="paragraph" name="paragraph" type="text">
            @(new HtmlString(Model != null && Model.Paragraph != null ? Model.Paragraph : ""))
        </textarea>
    </div>
</div>

@Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/sReports/common/initTinyMCE.js"), "", ""))

<script>
    initTinyMCE();
</script>