@using sReportsV2.DTOs.Field.DataOut;
@using sReportsV2.Common.Constants;

@model FieldDatetimeDataOut

<fieldset class="form-input">
    <div class="filter-label form-label-size d-inline-block">
        <span class="comment-target-item" id="@Model.Id">   @Html.Raw(Model.FullLabel) </span>
    </div>
    <div class="repetitive-field filter-input d-inline-block">
        <div class="row date-time-row datetime-picker-container">
            <div class="date-wrapper input-border mr-auto w-60 d-flex">
                @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                {
                    InputAttributes = new Dictionary<object, object> {
                        { "class", "date-helper d-inline-block border-0 date-width" },
                        { "readonly", null}
                    }
                })
                <input type="datetime-local" class="date-time-local d-none form-element-field" />
                <div class="img-wrapper">
                    <img alt="" class=" d-inline-block" src="/css/img/icons/datetime_field.svg">
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Shared/TimeInput.cshtml", new sReportsV2.DTOs.Common.TimeInputDTO()
            {
                InputAttributes = new Dictionary<object, object> {
                    { "class", "time-helper d-inline-block border-0" },
                    {"readonly", null}
                    },
                InputBtnAttributes = new Dictionary<object, object>
                {
                    {
                        "readOnly", true
                    }
                }
             })
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Form/Common/FieldButtonGroup.cshtml", Model)
</fieldset>
<a class="add-comment-link comment-block-hide" onclick="addComment('@Model.Id')">
    <img alt="" class="add-comment-icon" src="/css/img/icons/add_comment_1.svg">
</a>

